*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before,*:after{
    margin: 0;
    padding: 0;
}
body{
    direction: rtl;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffd5df;
    border-radius: 12px;
    width: 80%;
    text-align: center;
}
.buffer{
    padding: 20px;
    position: relative;
}
span{
    width: 70px;
    height: 70px;
    background-color:#ffeaea;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-100%);
    border-radius: 50%;
}  
span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: prixClipFix 10s linear ;
    box-sizing: border-box;
    border: 4px solid #6ab6ff;
}
li{
    list-style: none; 
    margin: 6px 0;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: #d5fff4;
    text-align: center;
}
li>input{
    display: none;
}
progress{
    width: 80%;
    height: 40px;
    
}
.res{
    display: flex;
    align-items: center;
}
.secres{
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    @keyframes prixClipFix {
        0%{clip-path: polygon(
        50% 0%,
        50% 50%,
        50% 0%,
        100% 0%,
        100% 100%,
        0 100%,
        0% 0%)
        }
        
        12.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        100% 0%,
        100% 0%,
        100% 100%,
        0 100%,
        0% 0%)}
        
        25%{clip-path: polygon(
        50% 0%,
        50% 50%,
        100% 50%,
        100% 100%,
        100% 100%,
        0 100%,
        0% 0%)
        }
        37.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        100%100%,
        100% 100%,
        0% 100%,
        0% 100%,
        0% 0%)}
        
        50%{clip-path: polygon(
        50% 0%,
        50% 50%,
        50% 100%,
        0% 100%,
        0% 100%,
        0% 0%,
        0% 0%)}
        
        62.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        0% 100%,
        0% 100%,
        0% 0%,
        0% 0%,
        0% 0%)}
        
        75%{clip-path: polygon(
        50% 0%,
        50% 50%,
        0% 50%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%)
        }
        87.5%{clip-path: polygon(
        50% 0%,
        50% 50%,
        0% 0%,
        50% 0%,
        50% 0%,
        50% 0%,
        50% 0%)}
    100%{clip-path: polygon(
        50% 0%,
        50% 50%,
        50% 0%,
        50% 0%,
        50% 0%,
        50% 0%,
        50% 0%)}
        
        }